* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #242424;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.grid-container {
  display: -ms-grid;
  display: grid;
}

h2 {
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
}

h3 {
  font-size: 14px;
  color: #aeaeae;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 50px;
  line-height: 2.14;
}

.btn-options {
  width: 194px;
  height: 45px;
  border-radius: 20px;
  border: 1px solid transparent;
  background-color: #b88b58;
  outline: none;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
  color: #ffffff;
  cursor: pointer;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

.btn-options:hover {
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
  background-color: #000000;
  -webkit-box-shadow: 0 0 5px black;
          box-shadow: 0 0 5px black;
}

header {
  height: 100px;
  background-color: #000000;
}

.container {
  height: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav {
  width: 899px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav-link {
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
  font-size: 14px;
}

.nav-link::after {
  content: '';
  border-bottom: 3px solid #b88b58;
  position: absolute;
  bottom: -40px;
  left: -10%;
  width: 0;
  -webkit-transition: width .3s;
  transition: width .3s;
}

.nav-link:hover::after {
  width: calc(120% - 0px);
}

.slider {
  height: 850px;
  background-image: url(../img/Bg_img_01.png);
  background-size: cover;
  background-position: center center;
}

.about-us {
  padding: 63px 0;
}

.about-us .text-and-video {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px;
}

.about-us .text-and-video .about-text {
  max-width: 635px;
}

.about-us .text-and-video p {
  margin: 0;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.79;
}

.about-us .text-and-video button {
  margin: 35px auto;
}

.about-us .text-and-video .about-video {
  cursor: pointer;
  width: 445px;
  height: 275px;
  -webkit-box-shadow: 0 0 10px black;
          box-shadow: 0 0 10px black;
  background-image: url(../img/video.png);
  background-position: center;
  background-size: cover;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

.about-us .text-and-video .about-video:hover {
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
  -webkit-box-shadow: 0 0 20px black;
          box-shadow: 0 0 20px black;
}

.about-us .text-and-video .about-video .about-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 83px;
  height: 83px;
  border-radius: 50%;
  border: solid 2px #ffffff;
  color: #ffffff;
  font-size: 30px;
  position: relative;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

.about-us .text-and-video .about-video .about-icon .fas {
  position: absolute;
  right: 30%;
}

.about-us .text-and-video .about-video .about-icon:hover {
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.about-us .text-and-video .about-video .video-text {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 30px;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
}

.services {
  padding: 63px 0;
  background-color: #000000;
}

.services .vertical-line {
  width: 2px;
  height: auto;
  background-color: #bebebe;
}

.services .our-features {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 35px;
}

.services .container {
  text-align: center;
}

.services h2 {
  color: #ffffff;
}

.services .feature-icon {
  font-size: 60px;
  color: #b88b58;
}

.services .feature-icon:hover {
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.services .feature-title {
  font-weight: 600;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 18px;
  margin-top: 30px;
  line-height: 1.75;
}

.services .feature-text {
  font-size: 12px;
  color: #7e7e7e;
  line-height: 1.75;
}

.projects {
  padding: 63px 0;
}

.projects .project-vertical-line {
  margin-top: 2px;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 1px;
  height: 52px;
  background-color: #cfcfcf;
}

.projects .radio-filter {
  font-family: Montserrat;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 300;
  color: #000000;
  text-align: center;
  margin: 0 20px;
  line-height: 56px;
  cursor: pointer;
  position: relative;
}

.projects .radio-filter::after {
  content: '';
  border-bottom: 3px solid #b88b58;
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 0;
  -webkit-transition: width .3s;
  transition: width .3s;
}

.projects .radio-filter:hover::after {
  width: calc(100% - 0px);
}

.projects .radio-filter input {
  display: none;
}

.projects .radio-filter input:checked + span {
  border-bottom: 3px solid #b88b58;
  height: 56px;
}

.projects .radio-filter span {
  display: block;
  border-bottom: 0px solid #b88b58;
}

.projects .filter-buttons {
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 710px;
  height: 58px;
  border-radius: 25.2px;
  border: solid 1px #cfcfcf;
  background-color: #ededed;
  margin-bottom: 38px;
}

.projects .cases-container {
  -ms-grid-columns: (255px)[4];
      grid-template-columns: repeat(4, 255px);
  grid-auto-rows: 165px;
  gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.projects .case-item {
  text-decoration: none;
  background-color: #7e7e7e;
  position: relative;
}

.projects .case-item:hover .case-inner {
  opacity: 0.8;
}

.projects .case-item .case-inner {
  opacity: 0;
  position: absolute;
  top: 1px;
  bottom: 1px;
  left: 1px;
  right: 1px;
  background-color: #000000;
  text-align: center;
  padding: 0 15%;
  -webkit-transition: all .8 ease-in-out;
  transition: all .8 ease-in-out;
}

.projects .case-item .inner-title {
  font-weight: 600;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 18px;
  margin-top: 30px;
  line-height: 1.75;
}

.projects .case-item .inner-text {
  font-weight: 300;
  font-size: 12px;
  color: #ffffff;
  line-height: 1.75;
}

.projects button {
  margin: 30px;
}
/*# sourceMappingURL=main-page.css.map */