@import 'common';
@import 'header';

.slider {
    height: 850px;
    background-image: url(../img/Bg_img_01.png);
    background-size: cover;
    background-position: center center;
}

.about-us {
    padding: 63px 0;

    .text-and-video {
        justify-content: space-between;
        gap: 30px;

        .about-text {
            max-width: 635px;
        }

        p {
            margin: 0;
            font-size: 14px;
            font-weight: 300;
            line-height: 1.79;
        }

        button {
            margin: 35px auto;
        }

        .about-video {
            cursor: pointer;
            width: 445px;
            height: 275px;
            box-shadow: 0 0 10px rgba($color: #000000, $alpha: 1.0);
            background-image: url(../img/video.png);
            background-position: center;
            background-size: cover;
            align-items: center;
            justify-content: center;
            gap: 20px;
            transition: 0.3s linear;

            &:hover {
                transition: 0.3s linear;
                box-shadow: 0 0 20px rgba($color: #000000, $alpha: 1.0);
            }

            .about-icon {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 83px;
                height: 83px;
                border-radius: 50%;
                border: solid 2px $second-color;
                color: $second-color;
                font-size: 30px;
                position: relative;
                transition: 0.3s linear;

                .fas {
                    position: absolute;
                    right: 30%;
                }

                &:hover {
                    transition: 0.3s linear;
                    transform: scale(1.1);
                }


            }

            .video-text {
                justify-content: space-between;
                font-size: 30px;
                font-weight: 600;
                text-transform: uppercase;
                text-decoration: none;
                color: $second-color;

            }
        }
    }
}

.services {
    padding: 63px 0;
    background-color: #000000;
    
    .vertical-line {
        width: 2px;
        height: auto;
        background-color: #bebebe;
    }

    .our-features {
        justify-content: space-between;
        gap: 35px;
    }

    .container {
        text-align: center;
    }

    h2 {
        color: $second-color;
    }
    
    .feature-icon {
        font-size: 60px;
        color: $accent-color;

        &:hover {
            transition: 0.3s linear;
            transform: scale(1.05);
        }
    }

    .feature-title {
        font-weight: 600;
        text-transform: uppercase;
        color: $second-color;
        font-size: 18px;
        margin-top: 30px;
        line-height: 1.75;
    }

    .feature-text {
        font-size: 12px;
        color: #7e7e7e;
        line-height: 1.75;
    }
}

.projects {
    padding: 63px 0;

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    

    .project-vertical-line {
        margin-top: 2px;
        align-content: center;
        width: 1px;
        height: 52px;
        background-color: #cfcfcf;
    }

    .radio-filter {
        font-family: Montserrat;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 300;
        color: #000000;
        text-align: center;
        margin: 0 20px;
        line-height: 56px;
        cursor: pointer;
        position: relative;

        &::after {
            content: '';
            border-bottom: 3px solid $accent-color;
            position: absolute;
            bottom: 0px;
            left: 0;
            width: 0;
            transition: width .3s;
        }
    
        &:hover::after {
              width: calc(100% - 0px);
        } 

        
        input {
            display: none;
            
            &:checked + span {
                border-bottom: 3px solid $accent-color;
                height: 56px;

            }
        }

        span {
            display: block;
            border-bottom: 0px solid $accent-color;
        }
       
    }


    .filter-buttons {
        margin: 0 auto;
        justify-content: center;
        width: 710px;
        height: 58px;
        border-radius: 25.2px;
        border: solid 1px #cfcfcf;
        background-color: #ededed;
        margin-bottom: 38px;
    }

    .cases-container {
        grid-template-columns: repeat(4, 255px);
        grid-auto-rows: 165px;
        gap: 30px;
        justify-content: center;
    }

    .case-item {
        text-decoration: none;
        background-color: #7e7e7e;
        position: relative;

        &:hover .case-inner {
            opacity: 0.8;
        }

        .case-inner {
            opacity: 0;
            position: absolute;
            top: 1px;
            bottom: 1px;
            left: 1px;
            right: 1px;
            background-color: #000000;
            text-align: center;
            padding: 0 15%;
            transition: all .8 ease-in-out;
        }

        .inner-title {
            font-weight: 600;
            text-transform: uppercase;
            color: $second-color;
            font-size: 18px;
            margin-top: 30px;
            line-height: 1.75;
        }

        .inner-text {
            font-weight: 300;
            font-size: 12px;
            color: $second-color;
            line-height: 1.75;
        }
        
    }

    button {
        margin-top: 30px;
        
    }
}


.our-team {
    background-image: url(../img/Bg_image.png);
    height: 700px;
    background-size: cover;
    background-position: center center;
    padding: 63px 0;
    

    h2 {
        color: $second-color;
    }

    .team {
        justify-content: center;
        gap: 30px;
    }

    .teammate {
        width: 350px;
        height: 432px;
        border-radius: 5px;
        background-color: white;

        .image-teammate {
            margin: 45px auto;
            width: 183px;
            height: 183px;
            border-radius: 50%;
        }

        .name-teammatem {
            font-size: 21px;
            font-weight: 600;
            text-align: center;
            line-height: 1.71;
            text-transform: uppercase;
        }

        .position-teammate {
            font-size: 14px;
            font-weight: 300;
            text-align: center;
            line-height: 1.71;
        }

        .subscrib-teammate {
            margin-top: 38px;
            justify-content: center;
            gap: 6px;
        }

        .subscrib {
            width: 33px;
            height: 33px;
            border-radius: 50%;
            background-color:  #bebebe;
            text-align: center;
            line-height: 33px;

            &:hover {
                background-color: $accent-color;
            }

            .fab {
                text-decoration: none;
                text-align: center;
                color: white;
            }
        }
    }

    .radio-buttons-team {       
        justify-content: center;
        gap: 11px;
        margin-top: 45px;

        .radio-team {
            
            &:checked + span {
                background-color: $accent-color;
                border-color: $accent-color;
            }
        }

        span {
            cursor: pointer;
            display: block;
            width: 14px;
            height: 14px;
            border-radius: 50%;
            border: solid 2px $accent-color;
        }

    }

}

.happy-clients {
   
    h2 {
        margin-top: 63px;
    }

    .client-image {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        margin: 0 auto;
        margin-top: 77px;
    }

    .client-name {
        text-align: center;
        margin-top: 30px;
        font-size: 24px;
        font-weight: 700;

    }

    .client-position {
        text-align: center;
        font-size: 18px;
        margin-top: 14px;
    }

    .client-icon {
        margin: 0 auto;
        margin-top: 30px;

    }

    .client-icon {
        text-align: center;
        font-size: 20px;
        color:#7e7e7e;
    }

    .client-text {
        margin: 0 auto;
        margin-top: 18px;
        width: 730px;
        font-size: 14px;
        font-weight: 600;
        line-height: 1.79;
        color: #7e7e7e;
        text-align: center;
    }

    .radio-buttons-clients {       
        justify-content: center;
        gap: 11px;
        margin: 50px auto;

        .radio-clients {

            &:checked + span {
                background-color: $accent-color;
                border-color: $accent-color;
            }
        }

        span {
            cursor: pointer;
            display: block;
            width: 14px;
            height: 14px;
            border-radius: 50%;
            border: solid 2px $accent-color;
        }

    }

}

.clients-logo {
    height: 160px;
    background-color: white;
    border-top: solid 1px #cfcfcf;
    border-bottom: solid 1px #cfcfcf;

    .container {
        display: flex;
        justify-content: space-around;
        align-items: center;


    }

}

.our-price {

    h2 {
        margin-top: 58px;
    }

    .price-table {
        justify-content: space-around;
        gap: 30px;
        margin-bottom: 60px;
    }

    .price-block {
        width: 255px;
        background-color: white;
        border-radius: 5px;
        text-align: center;

        .price-name {
            font-size: 14px;
            font-weight: 700;
            text-transform: uppercase;
            margin-top: 30px;
        }

        .price-value {
            font-size: 30px;
            font-weight: 700;
            margin-top: 15px;

        }

        .price-in-month {
            text-transform: uppercase;
            font-size: 10px;
            margin-top: 4px;
            color: #aeaeae;
        }

        ul {
            margin-top: 23px;
        }

        li {
            list-style-type: none;
            font-size: 10px;
            font-weight: 600;
            color: #7E7E7E;
            position: relative;
            padding-bottom: 14px;
        }

        li:not(:last-child)::after {
            position: absolute;
            content: '';
            bottom: 6px;
            margin: 0 auto;
            left: 0;
            right: 0;
            width: 8px;
            height: 1px;
            background-color: #7E7E7E;
          }

          .btn-options {
              margin-top: 20px;
              margin-bottom: 30px;
              width: 129px;
          }
    }
}

.price-slider {

    height: 755px;
    background-color: white;

    .container {
        padding: 60px 0;
    }

    .price-slider-block {
        border-bottom: 1px solid #bebebe;
        align-items: center;

        .price-slider-image {
            max-width: 445px;
        }

        .price-slider-points {

            .price-slider-item {
                margin: 20px auto;
            }

            .price-slider-item-image {
                font-size: 30px;
                color: $accent-color;
                margin-right: 30px;
            }

            .price-slider-text-name {
                font-size: 21px;
                font-weight: 700;
                text-transform: uppercase;
            }

            .price-slider-text-value {
                font-size: 14px;
                color: #5b5b5b;
                line-height: 1.8;
            }

            li {
                list-style-type: none;
                font-size: 14px;
                color: #5b5b5b;
                line-height: 1.8;
                text-transform: uppercase;
            }
        }
    }

    .price-slider-radio-buttons {       
        justify-content: center;
        gap: 11px;
        margin: 37px auto;

        .price-slider-radio {

            &:checked + span {
                background-color: $accent-color;
                border-color: $accent-color;
            }
        }

        span {
            cursor: pointer;
            display: block;
            width: 14px;
            height: 14px;
            border-radius: 50%;
            border: solid 2px $accent-color;
        }

    }

    .price-slider-btn {
        justify-content: center;
    }


}